#include <winver.h>

#ifndef BK_FILE_VERSION
#define BK_FILE_VERSION 2, 0, 0, 0
#endif

#ifndef BK_FILE_VERSION_STR
#define BK_FILE_VERSION_STR "2.0.0.0"
#endif

#ifndef BK_PRODUCT_VERSION_STR
#define BK_PRODUCT_VERSION_STR "2.0.0.0"
#endif

#ifndef BK_FILE_DESCRIPTION
#define BK_FILE_DESCRIPTION "Blackbird Community user-mode component"
#endif

#ifndef BK_COMPANY_NAME
#define BK_COMPANY_NAME "TITAN Softwork Solutions"
#endif

#ifndef BK_INTERNAL_NAME
#define BK_INTERNAL_NAME "Blackbird"
#endif

#ifndef BK_ORIGINAL_FILENAME
#define BK_ORIGINAL_FILENAME "Blackbird.bin"
#endif

#ifndef BK_PRODUCT_NAME
#define BK_PRODUCT_NAME "Blackbird Community"
#endif

#ifndef BK_FILE_TYPE
#ifdef _USRDLL
#define BK_FILE_TYPE VFT_DLL
#else
#define BK_FILE_TYPE VFT_APP
#endif
#endif

#ifndef BK_FILE_SUBTYPE
#define BK_FILE_SUBTYPE 0x0L
#endif

VS_VERSION_INFO VERSIONINFO FILEVERSION BK_FILE_VERSION PRODUCTVERSION BK_FILE_VERSION FILEFLAGSMASK
    VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
        FILEFLAGS VS_FF_DEBUG
#else
        FILEFLAGS 0x0L
#endif
            FILEOS VOS_NT_WINDOWS32 FILETYPE BK_FILE_TYPE FILESUBTYPE BK_FILE_SUBTYPE BEGIN BLOCK
    "StringFileInfo" BEGIN BLOCK "040904B0" BEGIN VALUE "CompanyName",
    BK_COMPANY_NAME VALUE "FileDescription", BK_FILE_DESCRIPTION VALUE "FileVersion",
    BK_FILE_VERSION_STR VALUE "InternalName", BK_INTERNAL_NAME VALUE "OriginalFilename",
    BK_ORIGINAL_FILENAME VALUE "ProductName", BK_PRODUCT_NAME VALUE "ProductVersion",
    BK_PRODUCT_VERSION_STR END END BLOCK "VarFileInfo" BEGIN VALUE "Translation", 0x0409, 1200 END END
