#include <winver.h>

#ifndef BLACKBIRD_FILE_VERSION
#define BLACKBIRD_FILE_VERSION 1,5,0,0
#endif

#ifndef BLACKBIRD_FILE_VERSION_STR
#define BLACKBIRD_FILE_VERSION_STR "1.5.0.0"
#endif

#ifndef BLACKBIRD_PRODUCT_VERSION_STR
#define BLACKBIRD_PRODUCT_VERSION_STR "1.5.0.0"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION BLACKBIRD_FILE_VERSION
 PRODUCTVERSION BLACKBIRD_FILE_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
#ifdef _USRDLL
 FILETYPE VFT_DLL
#else
 FILETYPE VFT_APP
#endif
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "TITAN Softwork Solutions"
            VALUE "FileDescription", "Blackbird Platform User-Mode Component"
            VALUE "FileVersion", BLACKBIRD_FILE_VERSION_STR
            VALUE "InternalName", "Blackbird"
            VALUE "OriginalFilename", "blackbird.bin"
            VALUE "ProductName", "Blackbird Platform"
            VALUE "ProductVersion", BLACKBIRD_PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

