
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
IndentGotoLabels: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
IndentPPDirectives: None
SortIncludes: false
IncludeBlocks: Preserve
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: DontAlign
ReflowComments: false
Cpp11BracedListStyle: false